@using Travel.Models.Sınıflar
@model List<Blog>

<div class="con-bot">
    @foreach(var x in Model)
    {
        <div style="width:7.3cm" class="left">
        <div class="bot-left">
                <img src="@x.BlogImage" alt="" />
        </div>
        <div class="left-text">
            <h4>@x.Baslik</h4>
            <span class="doller">@x.Tarih.ToString("dd:MM:yyyy")</span>
            <br />
                @if (@x.Aciklama.Length > 100)
                {
                    @x.Aciklama.Substring(0, 100)
                }
                else
                {
                    @x.Aciklama
                }
            <p><a href="/Blog/BlogDetay/@x.ID"><span class="read">Read More</span></a></p>
        </div>
    </div>
    }
    @await Html.PartialAsync("Partial2", Model)

    
    <div class="clear"></div>
</div>